﻿body {
    font-family: Quicksand-Bold;
    color: #000000;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

/* Fonts */

@font-face {
    font-family: Quicksand-Bold;
    src: url('fonts/Quicksand-Bold.ttf');
}

@font-face {
    font-family: Quicksand-Light;
    src: url('fonts/Quicksand-Light.ttf');
}

@font-face {
    font-family: Quicksand-Medium;
    src: url('fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: Quicksand-Regular;
    src: url('fonts/Quicksand-Regular.ttf');
}

/* General */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

/* Layout */

.footer {
  padding: 20px;
  background-color: #eee;
  text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#top-nav-container{
    width: 60%;
    margin: 0 auto;
    font-size: 30px;
    padding: 10px 10px;
    color: #428bca;
}

#top-nav-container a{
    text-decoration: none;
}

/* Home Page */

#main-container{
    width:100%;
    background-color: #428bca;
    color:#ffffff;
    font-family: Quicksand-Light;
}

#search-container{
    width: 50%;
    margin: 0 auto;
}

#search-container .control-label{
    font-size: 30px;
    padding: 10px 10px;

}

#search-container .control-label{
    font-size: 30px;
    padding: 10px 10px;
}

#search-container .form-control{
    margin: 0 10px;
}

#search-container .btn-primary {
    color: #428bca;
    background-color: #ffffff;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: Quicksand-Bold;
}

#search-container .btn-primary :hover{
    color: #2069a9;
    background-color: #e4e4e4;
}

#url-table {
    width:50%;
    margin: 0 auto;
    margin-top: 40px;
}

#url-table thead{
    font-family: Quicksand-Medium;
}

#url-table tbody{
    font-family: Quicksand-Light;
}

#url-table a{
    color: #428bca;
    font-family: Quicksand-Bold;
}

#table-title-head{
    text-align:center;
    font-size:20px;
    color: #428bca;
}

/* Error Page */

#error-container{
    width:60%;
    margin: 0 auto;
}

/* Mobile Size */

@media only screen and (max-width: 600px) {
        #search-container{
            width: 70%;
            margin: 0 auto;
    }
}