﻿@{
    ViewBag.Title = "URL Shortener";
}

@*MainModel contiene i modelli LinkModel (input per la creazione dello short URL) e UrlTable(visualizzazione tabella degli short URLs dell'utente) *@
@model ShortenLink.Models.MainModel  


@*LinkModel*@
    <div>
    <div id="main-container">
        <div id="search-container">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new Dictionary<string, object> { { "data-toggle", "validator" }, { "role", "form" } }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.LinkModel.Link, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.LinkModel.Link, new Dictionary<string, object> { { "class", "form-control" }, { "type", "text" }, { "data-error", "*Link is invalid" }, { "placeholder", "Paste a link to shorten it" }, { "pattern", @"(https?:\/\/(?:www\.|(?!www))[^\s\.]+\.[^\s]{2,}|www\.[^\s]+\.[^\s]{2,})|([\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:/~+#-]*[\w@?^=%&amp;/~+#-])?)" } , { "required", "required" } })
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Shorten</button>
                </div>
            }
        </div>
    </div>


@*UrlTable*@
    <table id="url-table" class="table table-bordered table-striped table-hover">
        <thead class="thead-default">
            <tr>
                <th id="table-title-head" colspan="5">Your Latest Short URLs </th>
            </tr>
            <tr>
                <th>Short Url</th>
                <th>Original Url</th>
                <th>Date Inserted</th>
                <th>Click(s)</th>
                <th>Unique Visit(s)</th>
            </tr>
            </thead>
        <tbody>
            @foreach (var item in Model.UrlTable)
            {
                <tr>
                    <td>
                       <a target="_blank" href="@Html.DisplayFor(modelItem => item.URLID)">
                           d.ex/@Html.DisplayFor(modelItem => item.URLID)
                       </a>
                    </td>
                    <td>
                        @{if (!item.NAME.StartsWith("http://") && !item.NAME.StartsWith("https://"))
                            {
                                <a href="http://@Html.DisplayFor(modelItem => item.NAME)" target="_blank">@Html.DisplayFor(modelItem => item.NAME)</a>
                            }
                            else
                            {
                                <a href="@item.NAME" target="_blank">@Html.DisplayFor(modelItem => item.NAME)</a>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DATEINSERTED)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CLICK)
                    </td>
                    <td>
                        <a href="ciao"></a>
                        @Html.DisplayFor(modelItem => item.VISIT)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>