﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="top-nav-container">
        @Html.ActionLink("URL Shortener", "Index", new { controller = "Home" })
    </div>

    @RenderBody()

    <div style="clear:both"></div>
    <div class="footer">
        @Html.ActionLink("URL Shortener", "Index", new { controller = "Home" })
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
