﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@* Pagina per Short Url non validi *@

<div id="error-container">
    <h1 class="text-danger">404: Page not found – the select page does not exist.</h1>
    <h2 class="text-danger">If you typed in or copied/pasted this URL, make sure you included all the characters, with no extra punctuation.</h2>
</div> 

